@charset "UTF-8";
/* CSS Document */
body {
	background: url("images/library2.jpg")
		no-repeat fixed top right
}
*{font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
#container {
	width: 900px;
	margin: 0 auto;
	
}

h1 {
	color:floralwhite;
	text-align: center;
	font-size: 200%;
}
.nav p {
	background-color:black;
	text-align: center;
	color:floralwhite;
	border-radius: 10px;
	padding: 5px 0px 5px 0px
}
.left {
	width: 300px;
	height: 420px;
	background-color: floralwhite;
	border-radius: 15px;
	Float: left;
	margin: 10px 10px 10px 10px;
	padding: 15px 15px 15px 15px;
	border:thin 3px #99C8D8;
	opacity: 90%;
}

.right {
	width: 500px;
	height: 420px;
	background-color: floralwhite;
	border-radius: 15px;
	Float: right;
	margin: 10px 10px 10px 10px;
	padding: 15px 15px 15px 15px;
	border:thin 3px #99C8D8;
	opacity: 90%;
}
p.boxheader{
	text-align: center;
}

h2.quote{
	font-size: 45px;
}
p.author {
	text-align: right
}
.fullwidth{
	width: 850px;
	height: 500px;
	background-color: floralwhite;
	border-radius: 15px;
	Float: right;
	margin: 10px 10px 10px 10px;
	padding: 15px 15px 15px 15px;
	border: thick rgba(203,14,17,0.99);
	opacity: 90%;
	
}
h3{text-align: center;}
.sitemap{
	clear:both;
	width: 850px;
	height: 200px;
	background-color: black;
	color: white;
	border-radius: 15px;
	margin: 10px 10px 10px 10px;
	padding: 15px 15px 15px 15px;
	display:none;
}
footer{
	clear:both;
	text-align: center;
	color:white;
}